.contact-mobile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.contact-mobile-contactmobile {
  width: 100%;
  height: 2821px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  background-color: rgba(255, 255, 255, 1);
}
.contact-mobile-group173 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 359px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contact-mobile-group157 {
  top: 79px;
  left: 0px;
  width: 390px;
  height: 280px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contact-mobile-sushiboat143486219201 {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 280px;
  position: absolute;
  border-color: transparent;
}
.contact-mobile-text {
  top: 75px;
  left: 74px;
  color: rgba(247, 247, 247, 1);
  width: 242px;
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Gang of Three;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact-mobile-nav {
  top: 0px;
  left: 0px;
  width: 390px;
  height: 79px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.contact-mobile-iconsax-linearhambergermenu {
  top: 23px;
  left: 333px;
  width: 38px;
  height: 29px;
  position: absolute;
}
.contact-mobile-iconsax-linearhambergermenu1 {
  top: 23px;
  left: 243px;
  width: 38px;
  height: 29px;
  position: absolute;
}
.contact-mobile-pgy4o7wamccp6hti8ljbg-screenshot20221024100700s-r-e-zr {
  top: 0px;
  left: 10px;
  width: 104px;
  height: 79px;
  position: absolute;
  border-color: transparent;
}
.contact-mobile-text02 {
  top: 395px;
  left: 21px;
  color: rgba(0, 0, 0, 1);
  width: 344px;
  height: auto;
  position: absolute;
  font-size: 36px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.contact-mobile-group105 {
  top: 546.044677734375px;
  left: 22px;
  width: 347px;
  height: 72.17886352539062px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.contact-mobile-text04 {
  top: 22.955284118652344px;
  left: 41px;
  color: rgba(0, 0, 0, 1);
  width: 130px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact-mobile-group107 {
  top: 655.231689453125px;
  left: 22px;
  width: 347px;
  height: 72.92682647705078px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.contact-mobile-text06 {
  top: 23.768293380737305px;
  left: 41px;
  color: rgba(0, 0, 0, 1);
  width: 115px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact-mobile-group106 {
  top: 765.044677734375px;
  left: 22px;
  width: 347px;
  height: 72.17886352539062px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.contact-mobile-text08 {
  top: 22.955284118652344px;
  left: 36px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact-mobile-group108 {
  top: 869.231689453125px;
  left: 22px;
  width: 347px;
  height: 72.92682647705078px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.contact-mobile-text10 {
  top: 23.768293380737305px;
  left: 41px;
  color: rgba(0, 0, 0, 1);
  width: 110px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact-mobile-group144 {
  top: 986.1185302734375px;
  left: 22px;
  width: 347px;
  height: 418.88128662109375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.contact-mobile-text12 {
  top: 18.881498336791992px;
  left: 26px;
  color: rgba(0, 0, 0, 1);
  width: 172px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.contact-mobile-c-t-a-contact-now {
  top: 1424px;
  left: 75px;
  width: 240px;
  height: 87px;
  display: flex;
  padding: 20px 40px;
  position: absolute;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 60px;
  justify-content: center;
  background-color: rgba(225, 45, 59, 1);
}
.contact-mobile-text14 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.contact-mobile-screenshot202210241438441 {
  top: 1541px;
  left: 22px;
  width: 347px;
  height: 642px;
  position: absolute;
  border-color: transparent;
  border-radius: 30px;
}
.contact-mobile-footer {
  top: 2214px;
  left: 0px;
  width: 390px;
  height: 607px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 1);
}
.contact-mobile-pgy4o7wamccp6hti8ljbg-screenshot20221024100700s-r-e-zr1 {
  top: 61px;
  left: 136px;
  width: 131px;
  height: 124px;
  position: absolute;
  border-color: transparent;
}
.contact-mobile-text16 {
  top: 559px;
  left: 101px;
  color: rgba(156, 155, 155, 1);
  width: 183px;
  height: auto;
  position: absolute;
  font-size: 14.033332824707031px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21.05000114440918px;
  font-stretch: normal;
  text-decoration: none;
}
.contact-mobile-group167 {
  top: 419px;
  left: 141px;
  width: 108px;
  height: 29px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contact-mobile-h5before {
  top: 25px;
  left: 0px;
  width: 108px;
  height: 4px;
  position: absolute;
  border-color: transparent;
  border-radius: 4.385416507720947px;
}
.contact-mobile-text18 {
  left: 3px;
  color: rgba(255, 255, 255, 1);
  width: 102px;
  height: auto;
  position: absolute;
  font-size: 17.54166603088379px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 21.05000114440918px;
  font-stretch: normal;
  text-decoration: none;
}
.contact-mobile-group166 {
  top: 350px;
  left: 115px;
  width: 160.6708526611328px;
  height: 20.172916412353516px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contact-mobile-text20 {
  left: 29.41259765625px;
  color: rgba(255, 255, 255, 1);
  width: 131px;
  height: auto;
  position: absolute;
  font-size: 14.033332824707031px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21.05000114440918px;
  font-stretch: normal;
  text-decoration: none;
}
.contact-mobile-mailpng {
  top: 3.08251953125px;
  left: 0px;
  width: 17px;
  height: 13px;
  position: absolute;
  border-color: transparent;
}
.contact-mobile-group164 {
  top: 211px;
  left: 153px;
  width: 83.98078918457031px;
  height: 20.172916412353516px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contact-mobile-text22 {
  left: 26.78125px;
  color: rgba(255, 255, 255, 1);
  width: 57px;
  height: auto;
  position: absolute;
  font-size: 14.033332824707031px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21.05000114440918px;
  font-stretch: normal;
  text-decoration: none;
}
.contact-mobile-locationpng {
  top: 0.45166015625px;
  left: 0px;
  width: 14px;
  height: 18px;
  position: absolute;
  border-color: transparent;
}
.contact-mobile-group165 {
  top: 280px;
  left: 129px;
  width: 132.52175903320312px;
  height: 21.049999237060547px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.contact-mobile-text24 {
  top: 0.8642578125px;
  left: 24.14990234375px;
  color: rgba(255, 255, 255, 1);
  width: 108px;
  height: auto;
  position: absolute;
  font-size: 14.033332824707031px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Poppins;
  font-weight: 400;
  line-height: 21.05000114440918px;
  font-stretch: normal;
  text-decoration: none;
}
.contact-mobile-phonepng {
  top: 0px;
  left: 0px;
  width: 11px;
  height: 21px;
  position: absolute;
  border-color: transparent;
}
.contact-mobile-fbpng {
  top: 482px;
  left: 114px;
  width: 27px;
  height: 28px;
  position: absolute;
  border-color: transparent;
}
.contact-mobile-twitterpng {
  top: 482px;
  left: 158.73095703125px;
  width: 27px;
  height: 28px;
  position: absolute;
  border-color: transparent;
}
.contact-mobile-linkedinpng {
  top: 482px;
  left: 203.46240234375px;
  width: 27px;
  height: 28px;
  position: absolute;
  border-color: transparent;
}
.contact-mobile-instapng {
  top: 482px;
  left: 248.19384765625px;
  width: 27px;
  height: 28px;
  position: absolute;
  border-color: transparent;
}
